.main-banner {
	position: relative;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow: hidden;
	z-index: 1;
	height: 100vh;
	padding-top: 100px;
	padding-bottom: 293px;

	&:after{
		content: "";
		height: 100%;
		width: 100%;
		left: 0;
		bottom: 0;
		position: absolute;
		background-image: url("/images/main-banner/shape1.png");
		background-repeat: no-repeat;
		background-position: bottom left;
		background-size: 100%;
		z-index: -1;
	}

	.title-ext{
		margin: 0 0 20px;
		font-size: 21px;
		font-weight: 700;
		display: inline-block;
		padding: 5px 15px;
		background-position: center;
		background-repeat: repeat;
		&.text-primary{
			background-image: url("/images/shap/ext-blue.png");
		}
		&.text-secondary{
			background-image: url("/images/shap/ext-orange.png");
		}
	}



	// shapes ****
.pt-img1{
	bottom: 35%;
	left: 0%;
	@include respond('laptop-small'){
		left: 0%;
		bottom: 25%;
	}
}
.pt-img2{
	top: 24%;
	left: 51%;
	@include respond('tab-port'){
		top: 30%;
		left: 55%;
	}
}
.pt-img3{
	top: 23%;
	left: 17%;
}		
.pt-img4{
	bottom: 15%;
	right: 38%;
	z-index: 1;
	@include respond('tab-port'){
		bottom: 10%;
		left: 45%;
	}
}
.pt-img5{
	bottom: 108px;
	right: 150px;
}
	
}



.main-banner .inner-content {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.main-banner h1 {
	font-size: 3rem;
	color:$dark;
}

.main-banner .banner-img {
	animation: up-down 2.5s infinite alternate;
	margin: 0 auto;
}

/* ========== Responsive Only ========== */

@media (max-width: 992px) {
	.main-banner h1 {
		font-size: 2rem;
	}
}

@media (max-width: 768px) {
	.main-banner {
		height: auto;
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.main-banner .inner-content {
		position: static;
		transform: none;
	}
	.main-banner h1 {
		font-size: 1.5rem;
	}
}
